@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Jost:wght@300;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

body {
    background-color: #23AEEB;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

/* Menu */
header {

    background-color: black;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

/* Logo do Menu */
.logo {
    display: flex;
    align-items: center;
}

/* Itens do Menu */
.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.nav-list ul li {
    display: inline-block;
    padding: 0 40px;
}

.nav-item {
    margin: 0 30px;
    padding-top: 10px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.35rem;
    color: #ffffff;
    font-weight: 400;
}

/* Houver dos Itens do Menu */
.nav-link:hover {
    color: #23AEEB;

}



.nav-link:hover:after {
    top: -45%;
    background-color: #23AEEB;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/*Botão Whatsapp */
.whats {
    position: fixed;
    bottom: 40px;
    right: 50px;
    z-index: 9999;
    animation: pulse 2s infinite, float 2s ease-in-out infinite;
}

/*Botão Orçamento */
.login-button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: rgb(255, 255, 255);
    z-index: 1;
}

.login-button a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

.login-button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.login-button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #ffffff;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

/* Houver do Botão de Orçamento */

/*menu mobile */
.mobile-menu-icon {
    display: none;
}


.mobile-menu {
    display: none;
}

/*Botão Orçamento */
.login-button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
}

.login-button a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

.login-button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.login-button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #ffffff;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

/* Houver do Botão de Orçamento Menu */
.menu-login-butto:hover {
    color: #000000;
    border: 1px solid #23AEEB;
}

.menu-login-butto:hover:before {
    top: -35%;
    background-color: #ffffff;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.menu-login-butto:hover:after {
    top: -45%;
    background-color: #23AEEB;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.menu-login-butto:hover a {
    color: #ffffff;
    /* Cor da letra branca após o hover */
}

.login-button:hover {
    color: #ffffff;
    /* Cor da letra branca após o hover */
    border-color: #ffffff;
    /* Cor da borda branca após o hover */
}

.login-button:hover:before {
    top: -35%;
    background-color: #000000;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.login-button:hover:after {
    top: -45%;
    background-color: #23AEEB;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.login-button:hover a {
    color: #ffffff;
    /* Cor da letra branca após o hover */
}





.efeito-txt-topo, .efeito-img-topo, .titulo, .efeito-especialidades1, .efeito-especialidades2, .efeito-especialidades3, .efeito-txt-sobre, .efeito-video-sobre, .efeito-nome, .efeito-celular, .efeito-email, .efeito-mensagem, .efeito-btn-enviar, .efeito-insta, .efeito-linkedin, .efeito-git, .efeito-whats  {
    visibility: hidden;
}

/* Estilo do Main */
.txt-topo-site {
    color: #ffffff;
}

section.topo-do-site {
    padding: 40px 4%;
}

.flex {
    display: flex;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    font-size: 58px;
    line-height: 70px;
}

.img-topo-site {
    border-radius: 80px;
}

.topo-do-site h1 span {
    color: rgb(0, 0, 0);
}

.topo-do-site .txt-topo-site p {
    color: #ffffff;
    font-size: 30px;
    margin: 20px 0;

}

.topo-do-site .img-topo-site img {

    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

/* Especialidades*/
.flex {
    justify-content: center;
}

h2.titulo {
    color: white;
    font-size: 38px;
    text-align: center;

}

h2.titulo span {
    color: #000000;
}

section.especialidades {
    padding: 20px;
    text-align: center;
    justify-content: center;
    padding-top: 90px;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: white;
    padding: 40px;
    border-radius: 20px;
    border: 2px solid #fff;
    margin-top: 45px;
    transition: .2s;

}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffffb4;
}

.especialidades .especialidades-box i {
    font-size: 80px;
    color: rgb(0, 0, 0);
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

.texto-box {
    font-size: 20px;
}

/*Estilo Sobre*/
.video-sobre video {
    box-shadow: 5px 5px 20px #000000;

    border-radius: 20px;
    width: 300px;
}


section.sobre {
    padding: 150px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 100px;
}

.sobre .txt-sobre {
    color: #fff;
    text-align: justify;

}

.sobre .txt-sobre h2 {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 30px;

}



.sobre .txt-sobre h2 span {
    color: #000000;
}

.sobre .txt-sobre p {

    font-size: 20px;
    margin: 20px 0;

}



.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;

}

.sobre .txt-sobre .btn-social button:hover {
    box-shadow: 0px 0px 8px #31689b;
    transform: scale(1.05);
}



/* Hover botão whatsapp */
.btn-social button, .whats {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
    opacity: 1;
    /* Adicionado para aparecer 100% */
}

.sobre .txt-sobre .btn-social button:hover {
    box-shadow: 0px 0px 8px #00ffea;
    transform: scale(1.05);
    opacity: 1;
    /* Adicionado para aparecer 100% */
}

.btn-social button:hover, .whats:hover {
    box-shadow: 0px 0px 8px #4f9b31;
    transform: scale(1.05);
    opacity: 1;
    /* Adicionado para aparecer 100% */
}

/* Animação de pulsação */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(88, 155, 49, 0.7);
    }

    70% {
        box-shadow: 0 0 0 20px rgba(49, 104, 155, 0);
        /* Aumentado o tamanho da sombra do box para 20px */
    }

    100% {
        box-shadow: 0 0 0 0 rgba(91, 155, 49, 0);
    }
}

/* Animação de flutuação */
@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.fale-comigo {
    font-size: 15px;
    text-align: center;

    left: 50%;
    transform: translateX(-30%);
    white-space: nowrap;
    /* Adicionado para evitar quebras de linha */
    opacity: 1;
    /* Adicionado para aparecer 100% */
}

/*Animação Imagem Main */
@keyframes flutuar {
    0% {
        top: 0;

    }

    100% {
        top: 30px;
    }
}

/* Estilo do Portfolio */
section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #3030301d;
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
   
}


.img-port:hover {
    background-position: 100% 100%;
}

/* ESTILO DO FORMULÁRIO DE CONTATO */
section.formulario {
    padding: 80px 4%;
}



form {
    max-width: 270px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;

}

form input, form textarea {
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    margin: auto;
    /* Adicionado para centralizar */
}

form textarea {
    resize: none;
    max-width: 600px;
}



form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #31689b;
    color: #000;
    /* Cor da letra preta */
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #31689b;
    transform: scale(1.05);
    color: #fff;
    /* Cor da letra branca após o hover */
}

/*Estilo Obrigado */
.btn-voltarinicio {
    padding-top: 40px;
}


/* Estilo do Rodape */
.site-content {
    flex: 1 0 auto;
    padding-top: 150px;
}

.footer {
    flex-shrink: 0;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

footer {
    width: auto;
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #464646;
    background-color: #000;
    flex-shrink: 0;

}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}


footer .line-footer p i {
    color: #fff;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
}

/* responsividade */








@media screen and (max-width: 1020px) {

    /* Geral */
    .sobre .txt-sobre .btn-social button:hover {
        box-shadow: 0px 0px 8px #00ffea;
        transform: scale(1.05);
    }

    .flex {
        flex-direction: column;
        align-items: center;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    /* Menu do site*/
    .nav-list {
        display: none;
    }

    .nav-bar {
        padding: 1.5rem 2rem;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    /* Menu do site no celular*/
    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 10px;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 2rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }

    /* Main */

    .topo-do-site h1 {
        
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        padding-top: 50px;
    }

    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 1px 1%;
        text-align: center;
    }

    .topo-do-site .txt-topo-site p {
        text-align: center;
        margin: 10px 50px;
        font-size: 18px;
        
    }







    /* Sobre */

    section.sobre .flex {
        gap: 40px;
    }

    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 25px;
        line-height: 35px;
        text-align: center;
    }

    .txt-sobre p {
        font-size: 18px;
        margin: 40px;
    }

    .btn-social {
        text-align: center;
    }

    .img-sobre img {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    /* Especialidades*/

    section.especialidades {
        padding-bottom: 30px;
    }

    .especialidades h2 {
        font-size: 26px;
        line-height: 38px;
        text-align: center;
    }

    /* Portfolio */

    section.portfolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex {
        gap: 30px;
    }



    /* Rodapé */

    footer .flex {
        flex-direction: column;
    }

    footer .line-footer {
        text-align: center;
    }

    .btn-social {
        padding-top: 20px;
    }

    .formulario {
        text-align: center;
    }

    .formulario h2 {
        line-height: 38px;
    }
}

@media screen and (max-width: 1302px) {
    .login-button {
        display: none;
    }

}

@media screen and (max-width: 1150px) {

    /* Menu do site*/
    .nav-list {
        display: none;
    }

    .nav-bar {
        padding: 1.5rem 2rem;
    }

    .nav-item {
        display: none;
    }

    /* Menu do site no celular*/
    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 10px;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 2rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }


}

@media screen and (max-width: 1121px) {
    .topo-do-site h1 {
        font-size: 55px;
        line-height: 70px;
        text-align: center;
    }

 

    .topo-do-site h1 span {
        color: rgb(0, 0, 0);
    }

    .topo-do-site .txt-topo-site p {
        color: #ffffff;
        font-size: 25px;
        margin: 40px 0;
        text-align: center;

    }

    .topo-do-site .img-topo-site img {
        display: none;

    }
}

@media screen and (max-width: 820px) {
    .topo-do-site h1 {
        
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        padding-top: 50px;
    }

    .txt-topo-site p {
        margin: 50px 50px;
    }
}



@media screen and (max-width: 390px) {

    /* Estilo do Main */
    .txt-topo-site {
        color: #ffffff;
    }

    .flex {
        display: flex;
    }

    section.topo-do-site .flex {
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .img-topo-site {
        border-radius: 80px;
    }

    .topo-do-site h1 span {
        color: rgb(0, 0, 0);
    }

    .topo-do-site .txt-topo-site p {
        color: #ffffff;
        font-size: 19px;
        margin: 15px 20px;

    }

    .topo-do-site h1 {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        padding-top: 20px;
    }

    /* Especialidades*/

    section.especialidades {
        padding-bottom: 30px;
    }

    .especialidades h2 {
        font-size: 26px;
        line-height: 38px;
        text-align: center;
    }

    section.especialidades {
        padding: 20px;
        text-align: center;
        justify-content: center;
        padding-top: px;
    }

    .whats {
        display: none;
    }



}

@media screen and (max-width: 414px) {

    /* Estilo do Main */
    .txt-topo-site {
        color: #ffffff;
    }

    .flex {
        display: flex;
    }

    section.topo-do-site .flex {
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .img-topo-site {
        border-radius: 80px;
    }

    .topo-do-site h1 span {
        color: rgb(0, 0, 0);
    }

    .topo-do-site .txt-topo-site p {
        color: #ffffff;
        font-size: 19px;
        margin: 15px 20px;

    }

    .topo-do-site h1 {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        padding-top: 20px;
    }

    /* Especialidades*/

    section.especialidades {
        padding-bottom: 30px;
    }

    .especialidades h2 {
        font-size: 26px;
        line-height: 38px;
        text-align: center;
    }

    section.especialidades {
        padding: 20px;
        text-align: center;
        justify-content: center;
        padding-top: px;
    }

    .whats {
        display: none;
    }



}

@media screen and (max-width: 280px){
    .video-sobre {
        display: none;
    }

}
