/* Importa as fontes 'Archivo Black' e 'Jost' do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Jost:wght@300;500&display=swap');

/* Define o padding e a margem de todos os elementos como 0, e define a fonte padrão como 'Jost' */
* {
    padding: 0;
    margin: 0;
    font-family: 'Jost', sans-serif;
}



/* Define a cor de fundo do corpo do documento como #23AEEB */
body {
    background-color: #23AEEB;
}

/* Menu */
/* Define a cor de fundo do cabeçalho como preto, adiciona uma sombra, e faz com que ele fique por cima de outros elementos */
header {
    background-color: black;
    box-shadow: 0px 3px 10px #464646;
    z-index: 1; /* Adicionado para fazer o header ficar por cima de outros elementos */
    position: relative; /* Necessário para o z-index funcionar */
}

/* Define o display da barra de navegação como flex, justifica o conteúdo para que haja espaço entre os itens, e adiciona padding */
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

/* Logo do Menu */
/* Define o display do logo como flex e alinha os itens ao centro */
.logo {
    display: flex;
    align-items: center;
}

/* Itens do Menu */
/* Define o display da lista de navegação como flex e alinha os itens ao centro */
.nav-list {
    display: flex;
    align-items: center;
}

/* Define o display da lista não ordenada dentro da lista de navegação como flex, justifica o conteúdo ao centro, e remove os marcadores de lista */
.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

/* Define a margem e o padding-top dos itens de navegação */
.nav-item {
    margin: 0 30px;
    padding-top: 10px;
}

/* Remove a decoração de texto dos links de navegação, define o tamanho da fonte, a cor do texto, e o peso da fonte */
.nav-link {
    text-decoration: none;
    font-size: 1.35rem;
    color: #ffffff;
    font-weight: 400;
}

/* Houver dos Itens do Menu */
/* Define a cor do texto dos links de navegação quando o mouse passa sobre eles como #23AEEB */
.nav-link:hover {
    color: #23AEEB;
}

/* Define a posição, a cor de fundo, e a transformação do pseudo-elemento after dos links de navegação quando o mouse passa sobre eles */
.nav-link:hover:after {
    top: -45%;
    background-color: #23AEEB;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/*Botão Whatsapp */
/* Define a posição, a posição inferior, a posição direita, o z-index, e a animação do botão do WhatsApp */
.whats {
    position: fixed;
    bottom: 40px;
    right: 50px;
    z-index: 9999;
    animation: pulse 2s infinite, float 2s ease-in-out infinite;
}

/*Botão Orçamento */
/* Define o display, o padding, a borda, o raio da borda, a transição, a posição, o overflow, o tamanho da fonte, a cor do texto, e o z-index do botão de login */
.login-button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: rgb(255, 255, 255);
    z-index: 1;
}

/* Remove a decoração de texto dos links do botão de login, define a cor do texto, e o peso da fonte */
.login-button a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

/* Define o conteúdo, a posição, a posição esquerda, a transformação, a posição superior, a largura, a altura, a cor de fundo, o raio da borda, o display, a transição, e o z-index do pseudo-elemento before do botão de login */
.login-button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

/* Define o conteúdo, a posição, a posição esquerda, a transformação, a posição superior, a largura, a altura, a cor de fundo, o raio da borda, o display, a transição, e o z-index do pseudo-elemento after do botão de login */
.login-button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #ffffff;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}


/* Houver do Botão de Orçamento */

/*menu mobile */
.mobile-menu-icon {
    display: none;
}


.mobile-menu {
    display: none;
}

/*Botão Orçamento */
.login-button  {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
    
}

.login-button a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

.login-button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.login-button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #ffffff;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

/* Houver do Botão de Orçamento Menu */
.menu-login-butto:hover {
    color: #000000;
    border: 1px solid #23AEEB;
}

.menu-login-butto:hover:before {
    top: -35%;
    background-color: #ffffff;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.menu-login-butto:hover:after {
    top: -45%;
    background-color: #23AEEB;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.menu-login-butto:hover a {
    color: #ffffff;
    /* Cor da letra branca após o hover */
}

.login-button:hover {
    color: #ffffff;
    /* Cor da letra branca após o hover */
    border-color: #ffffff;
    /* Cor da borda branca após o hover */
}

.login-button:hover:before {
    top: -35%;
    background-color: #000000;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.login-button:hover:after {
    top: -45%;
    background-color: #23AEEB;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.login-button:hover a {
    color: #ffffff;
    /* Cor da letra branca após o hover */
}







/* Estilo do Main */
.topo-do-site .login-button {
    animation: slideDown 2s ease-out;
}

.txt-topo-site {
    color: #ffffff;
}

section.topo-do-site {
    padding: 40px 4%;
}

.flex {
    display: flex;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    font-size: 62px;
    line-height: 70px;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* Animação de digitação */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* Animação do cursor piscando */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

.img-topo-site {
    border-radius: 80px;
}

.topo-do-site h1 span {
    color: rgb(0, 0, 0);
}

.topo-do-site .txt-topo-site p {
    color: #ffffff;
    font-size: 30px;
    margin: 40px 0;
    animation: slideInFromLeft 2s ease-out;
}

.topo-do-site .img-topo-site img {

    position: relative;
    animation: fadeIn 3s ease-out;
}

/* Animação de deslizamento de cima para baixo */
@keyframes slideDown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

/* Consulta de mídia para diminuir o tamanho da fonte quando a largura da tela for menor ou igual a 1020px */
@media (max-width: 1020px) {
    .topo-do-site h1 {
        font-size: 50px;
        /* Altere para o tamanho desejado */
        line-height: 58px;
        /* Altere para o tamanho desejado */
    }

    .topo-do-site .txt-topo-site p {
        font-size: 20px;
        /* Altere para o tamanho desejado */
    }
}


/* Especialidades*/
.flex {
    justify-content: center;
}

h2.titulo {
    color: white;
    font-size: 38px;
    text-align: center;
    

}




h2.titulo span {
    color: #000000;
}

section.especialidades {
    padding: 20px ;
    text-align: center;
    justify-content: center;
    padding-top: 90px;
  
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: white;
    padding: 40px;
    border-radius: 20px;
    border: 2px solid #fff;
    margin-top: 45px;
    transition: .2s;
    
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffffb4;
}

.especialidades .especialidades-box i {
    font-size: 80px;
    color: rgb(0, 0, 0);
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

.texto-box {
    font-size: 20px;
}

/*Estilo Sobre*/
.video-sobre video {
    box-shadow: 5px 5px 20px #000000;

    border-radius: 20px;
    width: 300px;
    animation: slideInFromLeft 2s ease-out;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

section.sobre {
    padding: 150px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 100px;
}

.sobre .txt-sobre {
    color: #fff;
    text-align: justify;
    
}

.sobre .txt-sobre h2 {
    font-size: 75px;
    
    margin-bottom: 30px;
    overflow: hidden; /* Garante que o texto fique oculto até ser "digitado" */
    border-right: .15em solid orange; /* Simula o cursor piscando */
    white-space: nowrap; /* Mantém o texto em uma única linha */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* Animação de digitação */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* Animação do cursor piscando */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(13, 219, 209); }
}

.sobre .txt-sobre h2 span {
    color: #000000;
}

.sobre .txt-sobre p {

    font-size: 20px;
    margin: 20px 0;
    animation: flutuar 2s ease-in-out infinite alternate, slideInFromRight 2s ease-out;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
    
}

.sobre .txt-sobre .btn-social button:hover {
    box-shadow: 0px 0px 8px #31689b;
    transform: scale(1.05);
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


/* Hover botão whatsapp */
.btn-social button, .whats {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
    opacity: 1;
    /* Adicionado para aparecer 100% */
}

.sobre .txt-sobre .btn-social button:hover, .whats:hover {
    box-shadow: 0px 0px 8px #4f9b31;
    transform: scale(1.05);
    opacity: 1;
    /* Adicionado para aparecer 100% */
}

/* Animação de pulsação */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(88, 155, 49, 0.7);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(49,104,155, 0); /* Aumentado o tamanho da sombra do box para 20px */
  }
  100% {
    box-shadow: 0 0 0 0 rgba(91, 155, 49, 0);
  }
}

/* Animação de flutuação */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.fale-comigo {
    font-size: 15px;
    text-align: center;

    left: 50%;
    transform: translateX(-30%);
    white-space: nowrap;
    /* Adicionado para evitar quebras de linha */
    opacity: 1;
    /* Adicionado para aparecer 100% */
}

/*Animação Imagem Main */
@keyframes flutuar {
    0% {
        top: 0;

    }

    100% {
        top: 30px;
    }
}

/* Estilo do Portfolio */
section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #3030301d;
    
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
    
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    animation: fadeIn 3s ease-out;
    
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.img-port:hover {
    background-position: 100% 100%;
}

/* ESTILO DO FORMULÁRIO DE CONTATO */
section.formulario {
    padding: 80px 4%;
}

.titulo {
    
    
}

form {
    max-width: 270px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    padding-right: 20px;
    
}

form input, form textarea {
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    margin: auto;
    /* Adicionado para centralizar */
}

form textarea {
    resize: none;
    max-width: 600px;
}

.btn-enviar {
    padding-left: 30px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #31689b;
    color: #000;
    /* Cor da letra preta */
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #31689b;
    transform: scale(1.05);
    color: #fff;
    /* Cor da letra branca após o hover */
}

/*Estilo Obrigado */
.btn-voltarinicio{
    padding-top: 40px;
}


/* Estilo do Rodape */
.site-content {
    flex: 1 0 auto;
    padding-top: 150px;
}
.footer {
    flex-shrink: 0;
}
.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

footer {
    width: auto;
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #464646;
    background-color: #000;
    flex-shrink: 0;
    
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}


footer .line-footer p i {
    color: #fff;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
}

/* responsividade */
@media screen and (max-width: 1020px) {

    /* Geral */
    .flex {
        flex-direction: column;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    /* Menu do site*/
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    /* Menu do site no celular*/
    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 40px;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 2rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }

    /* Main */
    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site .txt-topo-site p {
        
        margin: 10px 0;
    }

    .txt-topo-site h1 {
        font-size: 22px;
        line-height: 30px;
        padding-top: 50px;
        text-align: center;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    /* Sobre */

    section.sobre .flex {
        gap: px;
    }

    section.sobre {
        padding: 80px 8%;

    }

    .sobre .txt-sobre h2 {
        font-size: 19px;
        line-height: 35px;
        text-align: center;

        
    }

  

    .txt-sobre p {
        font-size: 15px;
        /* Altere para o tamanho desejado */
        white-space: pre-line;
        /* Adicionado para permitir quebras de linha automáticas */
    
        
    }

    .btn-social {
        text-align: center;
    }

    .img-sobre img {
        display: none;
        width: 100%;
    }

    /* Especialidades*/

    section.especialidades {
        padding: px ;
       
    }




    /* Portfolio */

    section.portfolio {
        padding: 80px 8%;
        
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
        
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    section.portfolio .flex {
        gap: 30px;
    }

    /* Rodapé */

    footer .flex {
        flex-direction: column;
    }

    footer .line-footer {
        text-align: center;
    }

    .btn-social {
        padding-top: 20px;
    }

    .formulario {
        text-align: center;


    
    }
}